# Part 0: Import Libraries

In [1]:
import pandas as pd 
import numpy as np
import random
import matplotlib.pyplot as plt

# Part 1: Import Data

In [2]:
feature = pd.read_csv(r"D:\Tony\Programming\Datasets\Yelp\yelp_feature.csv", encoding='utf-8')
user = pd.read_csv(r"D:\Tony\Programming\Datasets\Yelp\yelp_users.csv", encoding='utf-8')

In [3]:
feature.head(3)

,business_id,user_id,stars,like,text,popularity,pop_label,city_count,text_len,avg_stars,review_count
0,d_q4avZYM1sOlQP7noJKVg,UreiTV1I9i-XF6_bJhK6Iw,4.0,1,always fun outing come great hot dogs fixings ...,-1.647653,1.0,69200.0,17,3.514286,35
1,ACb637NG7EnswRs8U_BX_w,dZxXGlJtNwr9pag5UXCa4A,5.0,0,travel lots business one funniest places heath...,0.599975,3.0,17812.0,14,3.817391,115
2,kBJfBVaXJtPEKLTov1hJdQ,dZudYQD1T2U5RSJeJWYCLw,5.0,2,i'm arizona reathrey sekong food good authenti...,6.550951,5.0,69200.0,12,4.418182,55

In [4]:
user.head(3)

,user_id,centrality,average_stars,review_count,fans,period,sum_compliment,sum_votes
0,FOBRPlBHa3WPHFB5qYDlVg,4.514520e-21,3.84,564,27,12,270,1506
1,f4_MRNHvN-yRn7EA8YWRxg,-1.157870e-20,3.63,822,137,9,3130,9451
2,q-v8elVPvKz0KvK69QSj1Q,3.540635e-18,3.37,666,197,11,908,6106

# Part 2: Combine Data

In [5]:
feature = pd.merge(feature, user, how='inner', on='user_id')

In [6]:
feature.shape

(660000, 18)

In [7]:
feature.columns = ['business_id', 'user_id', 'review_stars', 'review_like', 'text', 'popularity', 'pop_label',
                   'city_review_count', 'text_len', 'restaurant_avg_stars', 'restaurant_review_count',
                   'centrality', 'user_avg_stars', 'user_review_count', 
                   'user_fans', 'user_period', 'user_compliments', 'user_votes']
feature = feature[['business_id', 'user_id', 'review_stars', 'review_like', 'text', 'text_len', 
                   'restaurant_avg_stars', 'restaurant_review_count', 'city_review_count', 
                   'centrality', 'user_avg_stars', 'user_review_count', 
                   'user_fans', 'user_period', 'user_compliments', 'user_votes',
                   'popularity', 'pop_label']]

In [8]:
feature.shape

(660000, 18)

In [9]:
feature.head(3)

,business_id,user_id,review_stars,review_like,text,text_len,restaurant_avg_stars,restaurant_review_count,city_review_count,centrality,user_avg_stars,user_review_count,user_fans,user_period,user_compliments,user_votes,popularity,pop_label
0,d_q4avZYM1sOlQP7noJKVg,UreiTV1I9i-XF6_bJhK6Iw,4.0,1,always fun outing come great hot dogs fixings ...,17,3.514286,35,69200.0,2.207263e-21,3.55,104,0,8,2,80,-1.647653,1.0
1,oj8qk3W7O9oq15VIs-vYJQ,UreiTV1I9i-XF6_bJhK6Iw,5.0,0,new favorite place breakfast first time came h...,54,4.375000,64,436.0,2.207263e-21,3.55,104,0,8,2,80,4.694428,5.0
2,YFqlMM1tFn0C4b9aHdzOgg,UreiTV1I9i-XF6_bJhK6Iw,4.0,0,nice place food good nice wines pour decent si...,54,4.448276,29,839.0,2.207263e-21,3.55,104,0,8,2,80,4.367999,5.0

# Part 3: Train Test Split

### Split data

In [10]:
# Define list of restaurants
list_of_restaurants = feature['business_id'].unique()

# Sample from list
TRAIN = random.sample(range(len(list_of_restaurants)), round(0.8*len(list_of_restaurants)))
list_of_restaurants_train = list_of_restaurants[TRAIN]
list_of_restaurants_test = list(set(list_of_restaurants)-set(list_of_restaurants_train))
VAL = random.sample(range(len(list_of_restaurants_train)), round(0.2*len(list_of_restaurants_train)))
list_of_restaurants_val = list_of_restaurants_train[VAL]
list_of_restaurants_train = list(set(list_of_restaurants_train)-set(list_of_restaurants_val))
feature_train = feature[feature['business_id'].isin(list_of_restaurants_train)]
feature_val = feature[feature['business_id'].isin(list_of_restaurants_val)]
feature_test = feature[feature['business_id'].isin(list_of_restaurants_test)]

### Export data

In [11]:
feature_train.to_csv(r'D:\Tony\Programming\Datasets\Yelp\yelp_feature_train.csv', index=False, encoding='utf-8')
feature_val.to_csv(r'D:\Tony\Programming\Datasets\Yelp\yelp_feature_val.csv', index=False, encoding='utf-8')
feature_test.to_csv(r'D:\Tony\Programming\Datasets\Yelp\yelp_feature_test.csv', index=False, encoding='utf-8')