# Import libraries

In [2]:
import pandas as pd
import numpy as np 
import matplotlib as plt
import json
from itertools import islice

# Filter data

### Select restaurants

In [14]:
business = pd.read_json("D:\Tony\Programming\Datasets\Yelp\yelp_academic_dataset_business.json", lines=True, encoding='utf-8')
restaurant = business[business['categories'].str.contains('Restaurant', na=False)]
restaurant.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
8,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
20,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,4508 E Independence Blvd,Charlotte,NC,28205,35.194894,-80.767442,3.0,5,0,"{'RestaurantsGoodForGroups': 'True', 'OutdoorS...","Food, Restaurants, Grocery, Middle Eastern",None
24,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,"15480 Bayview Avenue, unit D0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4.5,4,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Cheesesteaks, Poutineries","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
25,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,300 John Street,Thornhill,ON,L3T 5W4,43.820492,-79.398466,4.5,7,1,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Japanese, Fast Food, Food Court, Restaurants",None
30,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,13071 Yonge Street,Richmond Hill,ON,L4E 1A5,43.947011,-79.454862,3.0,3,1,"{'Ambience': '{'touristy': False, 'hipster': F...","Persian/Iranian, Turkish, Middle Eastern, Rest...","{'Tuesday': '12:0-21:0', 'Wednesday': '12:0-21..."

In [15]:
restaurant.to_csv(r'D:\Tony\Programming\Datasets\Yelp\yelp_restaurant.csv', index = False, encoding='utf-8')

### Select restaurant reviews

In [4]:
with(open("D:\Tony\Programming\Datasets\Yelp\yelp_academic_dataset_review.json", encoding="utf-8")) as f:
    objects = (json.loads(line) for line in f)  
    objects = islice(objects, 2500000)
    review1 = pd.DataFrame(objects)
review1 = review1[review1['business_id'].isin(restaurant['business_id'])]

In [5]:
with(open("D:\Tony\Programming\Datasets\Yelp\yelp_academic_dataset_review.json", encoding="utf-8")) as f:
    objects = (json.loads(line) for line in f)  
    objects = islice(objects, 2500000, 5000000)
    review2 = pd.DataFrame(objects)
review2 = review2[review2['business_id'].isin(restaurant['business_id'])]

In [7]:
with(open("D:\Tony\Programming\Datasets\Yelp\yelp_academic_dataset_review.json", encoding="utf-8")) as f:
    objects = (json.loads(line) for line in f)  
    objects = islice(objects, 5000000, 8021122)
    review3 = pd.DataFrame(objects)
review3 = review3[review3['business_id'].isin(restaurant['business_id'])]

In [8]:
reviews = pd.concat([review1, review2, review3])

In [9]:
reviews.to_csv(r'D:\Tony\Programming\Datasets\Yelp\yelp_restaurant_review.csv', index = False, encoding='utf-8')